<footer>
    <!-- &copy; Travis Byrman -->
    <section id="foot">
    <div>
        <h2>Contact</h2>
        <div>
        <a href="">Phone Number</a>
        </div>
        <div>
        <a href="">Email</a>
        </div>
        <div>
        <a href="">Fax</a>
        </div>
    </div>

    <div>
        <h2>About</h2>
        <div>
        <a href="">Location</a>
        </div>
        <div>
        <a href="">Store Hours</a>
        </div>
        <div>
        <a href="">Finance</a>
        </div>
    </div>

    <div>
        <h2>More</h2>
        <div>
        <a href="">Farm</a>
        </div>
        <div>
        <a href="">Street</a>
        </div>
        <div>
        <a href="">Off-road</a>
        </div>
    </div>
</section>
</footer>