<header>
  <nav id="mobileNav">
    <a
      ><h2 id="search"><i class="fa fa-search"></i></h2
    ></a>
    <a href="index.html"
      ><img
        id="navImg"
        src="https://www.clipartmax.com/png/full/119-1190563_logo-design-for-motorbike-motorcycle-logo-design-png.png"
    /></a>
    <hr id="mobBlueBar" />
    <h2 id="toggle_menu" onclick="toggle_menu();">☰</h2>
    <ul id="menu" class="">
      <li><a href="productList.html">Products</a></li>
      <li><a href="payment.html">Cart</a></li>
      <li><a href="login.html">Login</a></li>
      <hr id="navBotBar" />
    </ul>
  </nav>

  <nav id="desktopNav">
    <a id="logo" href="index.html"
      ><img
        src="https://www.clipartmax.com/png/full/119-1190563_logo-design-for-motorbike-motorcycle-logo-design-png.png"
    /></a>
    <a id="buttons" href="index.html">Home</a>
    <a id="buttons" href="productList.html">Products</a>
    <a id="buttons" href="payment.html">Cart</a>
    <a id="buttons" href="login.html">Login</a>
  </nav>
  <div id="navSlog">{{ site.description }}</div>
</header>
