<form id="login" action="submitPayment.html" method="post">
    <h3>Login</h3>
      <div>
        <label for="name">Username</label>
        <input type="text" name="name"  placeholder="JohnDoe123" required> 
      </div>
    
        <div>
            <label for="author">Password</label>
            <input type="Password" name="Password"  placeholder="secret123" required>
        </div>
    
        <input type="submit" value="Login">
        <input id="redButton" type="submit" value="Register">
    
    </form>