<div id="heading">
  <h3>MT-07</h3>
</div>
<section id="product">
    <img
      id="mainImg"
      src="https://images.unsplash.com/photo-1568772585407-9361f9bf3a87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
    />
    <div id="para">
    <h3>Yamaha MT-07 - $1500.00</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et
        risus nec neque pharetra dapibus sit amet id metus. Morbi lobortis
        venenatis tellus, nec auctor tortor fermentum quis. Phasellus nunc
        felis, commodo non auctor vitae, imperdiet ac nisl.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et
        risus nec neque pharetra dapibus sit amet id metus. Morbi lobortis
        venenatis tellus, nec auctor tortor fermentum quis. Phasellus nunc
        felis, commodo non auctor vitae, imperdiet ac nisl.
      </p>
<a id="productView" href="payment.html">Buy Now</a>
    </div>
  </section>